[2018-04-05 13:08] hkiel opened #2 "Invalid installation instructions"
Do not edit `pathdef.m` ( -> `% DO NOT MODIFY THIS FILE.  IT IS AN AUTOGENERATED FILE.`), but use `pathtool` to add the path.
Do not edit `classpath.txt`, but create file `javaclasspath.txt` in preferences folder (can be found by `prefdir`)

[2018-04-05 13:32] arun3688 commented on #2
@hkiel  Yes agreed  for javaclasspath.txt, But for pathtool, i am not sure the path is saved for future session

[2018-04-05 13:46] arun3688 commented on #2
@hkiel  Updated the install instruction, pathtool works

[2018-04-05 15:37] hkiel commented on #2
You need to save the new path wih pathtool

[2018-04-05 16:02] arun3688 commented on #2
I have changed the instruction, i think i can close this issue

[2018-04-08 15:54] adrcarrui opened #3 "Error using OMMatlab"
Hi,

I'm trying to execute the commands `import OMMatlab.*"` and `"omc=OMMatlab()` but I got errors:

[code]

I did all the installation:

1- I wrote `pathtool` on the Matlab Command Window. A window appears, I added the directory where I have the OMMatlab folder: `"C:\Downloads\OMMatlab"`

2- Then I wrote `prefdir`. I created the "javaclasspath.txt" file in the location that prefdir showed me. In

[2018-04-08 18:52] arun3688 commented on #3
which matlab version you are having

[2018-04-08 18:53] adrcarrui commented on #3
Matlab 2015

[2018-04-08 19:24] arun3688 commented on #3
i think there are some problems in concatenation of char and strings in matlab earlier versions, I tested in matlab 2016 and 2017 it is working fine .I can get back to you tomorrow

[2018-04-08 19:25] adrcarrui commented on #3
Ok, I'll try it tomorrow in the morning and I'll post here the results. Thanks for the fast answer!

[2018-04-09 07:12] adrcarrui commented on #3
The error changed to:

[code]
I'm using Matlab2017 and OpenModelica1.13.0. Moreover I'm working on Windows. You said you tested in Matlab2016 and 2017 but which OS?

[2018-04-09 07:26] arun3688 commented on #3
i am using windows, have you set OPENMODELICAHOME in your environment variable

[2018-04-09 07:56] adrcarrui commented on #3
My OPENMODELICAHOME is "C:\OpenModelica1.13.0-dev-64bit" and the OMMatlab folder is "C:\Users\GEPOC-PC3\Documents\OMEdit\OMMatlab"

UPDATED: I just upload a picture about my enviroment variables.

![enviroment varibles](https://user-images.githubusercontent.com/18417143/38486305-e56a06b6-3bdc-11e8-9a4e-b34a3f206d13.JPG)

[2018-04-09 08:00] adrcarrui commented on #3
I tried to move the OMMatlab folder to "C:\OpenModelica1.13.0-dev-64bit" and do all the installation process again to change the path. It doesn't work.

[2018-04-09 08:11] arun3688 commented on #3
by the way did you change this line  14.
cmd ="START /b "+omhomepath +" --interactive=zmq +z=matlab."+randomstring;
if not can you just add this line after line 14, disp(cmd) and check what is the output it gives

[2018-04-09 08:25] adrcarrui commented on #3
I put it right after line 14 but it gave me the same error that before, so I changed it to line 24.

[code]
The answer is the following:

`START /b C:/OpenModelica1.13.0-dev-64bit/bin/omc.exe --interactive=zmq +z=matlab.jvpoxhttjo`

[2018-04-09 08:27] arun3688 commented on #3
can you just run this in your command prompt and see

[2018-04-09 08:38] adrcarrui commented on #3
[code]

[2018-04-09 08:43] arun3688 commented on #3
ok the omc server is working, can you try to run this from the matlab terminal and see whether the omc process is started

[2018-04-09 08:47] adrcarrui commented on #3
![github](https://user-images.githubusercontent.com/18417143/38488291-5299a984-3be3-11e8-95aa-9f586a1eb730.JPG)

I just copied and pasted what you told me, but I don't know what happen.

[2018-04-09 08:49] arun3688 commented on #3
instead can you use single quotes instead of double like this

[2018-04-09 08:51] adrcarrui commented on #3
The command prompt appears:
![cp](https://user-images.githubusercontent.com/18417143/38488493-ee519f1c-3be3-11e8-8c13-7c13cffbda11.JPG)

And in matlab appears ans=0

[2018-04-09 08:56] arun3688 commented on #3
It Works, ok i understood the problem is with the char and string representation and i am still not sure about this, I am using MatlabR2017b version, I try to find a solution , which matlab 2017 you are using

[2018-04-09 08:58] adrcarrui commented on #3
Thanks! I'll be waiting for the answer. Awesome attention!

UPDATE: I'm using MatlabR2017a version.

[2018-04-09 09:13] arun3688 commented on #3
hi again i hope this solution should work can you comment the line 14

% cmd ="START /b "+omhomepath +" --interactive=zmq +z=matlab."+randomstring;
and add this line and test it and see

cmd = ['START /b',' ',omhomepath,' --interactive=zmq +z=matlab.',randomstring];

[2018-04-09 09:30] adrcarrui commented on #3
![github2](https://user-images.githubusercontent.com/18417143/38490406-4d04bada-3be9-11e8-9de6-3642af681a6a.JPG)

When I write import OMMatlab.* it should load something into Matlab right?

[2018-04-09 09:34] arun3688 commented on #3
ok the old error is fixed, now the problem is finding the ZMQ library, have you changed the path of the .jar files in the javaclasspath.txt file in the prefdir, I hope you changed the location of jar file and did not update

[2018-04-09 09:38] adrcarrui commented on #3
In the javaclasspath.txt the path have to be with double quotes or without them?

[2018-04-09 09:40] arun3688 commented on #3
without double quotes, for reference on how to set the static java classed, see this https://se.mathworks.com/help/matlab/matlab_external/static-path.html

[2018-04-09 09:48] adrcarrui commented on #3
I changed it, but still getting the same error.

[2018-04-09 09:56] arun3688 commented on #3
Ok, can you type from the matlab terminal

    C:\Program Files\MATLAB\R2017b\toolbox\local\classpath.txt
it will show the path where the file exists and try to open the file in admin mode and add the jar file path to the end with quotes

[2018-04-09 10:18] adrcarrui commented on #3
![github3](https://user-images.githubusercontent.com/18417143/38492669-fe8f25e6-3bef-11e8-9679-d076e75fe0aa.JPG)

I added it. Should I write like the others .jar? Because I tried again and still doesn't work.

[2018-04-09 10:21] arun3688 commented on #3
Yes, but without any quotes (example: C:/OPENMODELICAGIT/OpenModelica/OMMatlab/jeromq-0.4.4-SNAPSHOT.jar)  add the path with Backward slash ('/') and restart the matlab

[2018-04-09 10:24] adrcarrui commented on #3
![github4](https://user-images.githubusercontent.com/18417143/38492928-bbd03e1a-3bf0-11e8-97ae-4ca11a34bb9d.JPG)

I think is working now. I tried omc=sendExpression("getVersion()") and I got no errors.

[2018-04-09 10:27] arun3688 commented on #3
Great, good luck. I will soon update the readme file

[2018-04-09 10:43] arun3688 opened #4 "adding static javaclasspath.txt to preddir does not working"
@hkiel , add the jar files location to javaclasspath.txt at prefdir location  does not work, And it only works when the path is added to which classpath.txt file in the matlab location, I found some answers which suggest to add the path in classpath.txt
see ,https://se.mathworks.com/matlabcentral/answers/96993-how-can-i-use-a-java-class-from-a-jar-file-in-matlab

also see issue [Error using OMMatl

[2018-04-09 12:17] arun3688 commented on #3
@adrcarrui  regarding setting the jar file location in prefdir using javaclasspath.txt, It seems that the path should be added to the file without any quotes either single or double, just the plaintextpath and then it must work

[2018-04-09 12:19] arun3688 commented on #4
@hkiel , No i made a mistake, the location must be added without any quotes to the javaclasspath.txt file and then it works, i am closing this

[2018-04-09 12:50] adrcarrui commented on #3
Yeah, I have it without quotes. However I am trying to execute some commands and I don't get any answer.

I wrote:
import OMMatlab.*
omc = OMMatlab()
omc.sendExpression("getVersion()")
omc.sendExpression("C:\Users\GEPOC-PC3\Documents\OMEdit\producto.mo")
omc.sendExpression("simulate(producto)")

In this point, I simulated the model producto, but I want to see the results into Matlab, so I executed

[2018-04-09 13:21] arun3688 commented on #3
To get the results from the mat file you should use the API something like this

omc.sendExpression('readSimulationResult("C:/OPENMODELICAGIT/OpenModelica/OMMatlab/test/BouncingBall_res.mat",{h,impact})')

see https://build.openmodelica.org/Documentation/OpenModelica.Scripting.html

[2018-04-09 13:31] adrcarrui commented on #3
![github5](https://user-images.githubusercontent.com/18417143/38500527-f5eaa922-3c0a-11e8-8b2f-7277e8e959cc.JPG)

I'm getting this error. Is the hyphen a problem in the path?

UPDATE:

I wrote the command wrong. Now, omc.sendExpression('readSimulationResult("C:\Users\GEPOC-PC3\Documents\OMEdit\OMMatlab\producto_res.mat",{m_flow_nominal, hea.Qflow})') but I'm getting fail()

[2018-04-09 13:36] arun3688 commented on #3
you should use double quotes to the filename "producto_res.mat", something like this omc.sendExpression('readSimulationResult("C:/OPENMODELICAGIT/OpenModelica/OMMatlab/test/BouncingBall_res.mat",{h,impact})')

[2018-04-09 13:50] adrcarrui commented on #3
Before writing into the _res.mat file I should close it with closeSimulationResult()
I want to write into _res.mat file to change some values and simulate again. I wrote
omc.sendExpression('writeFile("C:\Users\GEPOC-PC3\Documents\OMEdit\OMMatlab\producto_res.mat",{m_flow_nominal=10})')

But I got this error:

[code]

[2018-04-09 14:05] arun3688 commented on #3
Yes, you should close the resultfile, But you cannot do it like this, the ones which you are trying to do are some advanced options and they cannot be done like this,  look into this for examples https://openmodelica.org/doc/OpenModelicaUsersGuide/latest/scripting_api.html?highlight=override#simulation-parameter-sweep

[2018-04-09 14:06] adrpo commented on #3
You cannot use writeFile for Matlab mat files. writeFile takes a text file and a string that needs to write into file. Maybe you can use some Matlab functions for that.
For the file path, use forward slash / instead of \\, or double it \\\\.

[2018-04-09 14:35] hkiel commented on #3
I have a matlab function that reads in the generated mat file and creates variables with the name of the signals.

[2018-04-09 19:38] adrcarrui commented on #3
I'm dealing with that right now. It is like hell to understand the order T.T. It could be fantastic if you could share your code!

UPDATE: I didn't want to close the issue, but I think is better to close this one and, if necesary, open another one for functions and more.

[2018-04-10 09:51] adrcarrui commented on #3
Hi guys!

I'm working on my own file to read the generated mat file. I load the mat like this:
a=load('BouncingBall_res.mat');

I got it that a.name is the name of the variables, a.description are the comments which explain a bit the variables and a.data_1 contains the values of the parameters in the startTime and stopTime.

I'm trying to understand the content of a.data_2 and a.dataInfo. I looked

[2018-04-10 11:39] sjoelund commented on #3
I added some details on the MATv4 format that will become part of the documentation soon. You can see it here until then: https://github.com/OpenModelica/OpenModelica-doc/blob/master/UsersGuide/source/technical_details.rst

[2018-04-12 09:03] adrcarrui commented on #3
I'll close the issue. I'll be trying to do some stuff with OMMatlab if I have other issues I'll open a new one.

Thanks!!

[2018-04-12 09:03] #3 closed

[2018-04-13 14:19] adrcarrui opened #5 "changing values and simulate"
Hi!

I've been working for a while trying to change some values and simulate again but is always keeping the same result.

I try to simulate BouncingBall for 1 time, and e = 0.7 I changed it to e=1.4 and simulate again but the value is 0.7 again. What can I do to keep the new one? (I used `system("./BouncingBall -override=e="+String(1.4)+" -r=BouncingBall" + "_res.mat");`)

[2018-04-15 15:43] adrcarrui commented on #5
I thought about changing the xml init file. I changed the value there with `omc.sendExpression('setInitXmlStartValue(BouncingBall.xml,e,10,BouncingBall.xml')`. I could see the change into an xml reader. So I believed I had gotten it, I simulated the model again but I got the same value of e (0.7 not 10). Is there any possibility to change the model variables and simulate to see the changes? If the

[2018-04-15 16:23] arun3688 commented on #5
Hi , i just checked that executing system("BouncingBall.exe") does not work from matlab in windows, it does not create the result file in windows, but if u try  winopen('BouncingBall.exe') does works and creates the result files in windows, and you can see the changes in the result file but you cannot pass the override flag,  these are the steps to follow

if you want to pass the override flag, fo

[2018-04-23 12:00] adrcarrui commented on #5
I tried this:

and this:

I got the same error.

![github6](https://user-images.githubusercontent.com/18417143/39125262-ab0777c4-46fe-11e8-9f4c-66900701592e.JPG)

The error says the application could not start correctly.

I tried to find a solution but I couldn't find it. I read that there are some problems with my C++ packages, I reinstalled it but I got the same error. Any hint about it?

Thanks

[2018-04-24 05:50] arun3688 commented on #5
Add c:openmodelica /bin to your system path

On Mon 23 Apr, 2018, 14:00 Adrián Cardona Ruiz, <notifications@github.com>
wrote:

[2018-04-24 07:17] adrcarrui commented on #5
I added it

![github7](https://user-images.githubusercontent.com/18417143/39171806-305db2de-47a0-11e8-9f59-15a9e288c0b5.JPG)

However I getting the same error.

[2018-04-24 07:28] arun3688 commented on #5
No you should add it to path environment variable

On Tue 24 Apr, 2018, 09:17 Adrián Cardona Ruiz, <notifications@github.com>
wrote:

[2018-04-24 07:52] adrcarrui commented on #5
Do you say I have to add it to "Path" into the user environment variable?

[2018-04-24 07:57] hkiel commented on #5
yes

[2018-04-24 08:05] adrcarrui commented on #5
Ok I did it. Thanks! I'll close the thread.

[2018-05-07 07:24] adrcarrui commented on #5
Hi again!

I want to change the data inside an array. I was trying to do it in all the ways I though but I couldn't make it.

I only can change paremeters right now, what have I to do to change arrays, variables...?

Moreover, I'm interested to edit the data inside a block such a timetable (Modelica.Blocks.Sources.TimeTable) or input (Modelica.Blocks.Interfaces.RealInput), so how can I do it?

All

[2019-03-04 08:15] RSchiemann opened #6 "OMMatlab lots of invalid Matlab syntax (Matlab R2015b)"
Hi,

I just wanted to give OMMatlab a try and downloaded it. After trying to run it the first time, Matlab found a *lot* of syntax errors in OMMatlab.m all of which are due to unallowed use of the " character.

Example from line 85:
libmsg = obj.sendExpression("loadFile( """+ libraries{n} +""")");

The syntax used is very invalid Matlab code. First, Matlab only accepts the ' character for string d

[2019-03-04 09:28] arun3688 commented on #6
@RSchiemann  I think you are using very old version of Matlab, Look into the documentation for more details regarding Strings. https://se.mathworks.com/help/matlab/ref/string.html. You need to update to latest version and test it .  And this line of code

libmsg = obj.sendExpression("loadFile( """+ libraries{n} +""")");

The + operator here is not concatenation, it is just accepting arguments for

[2019-03-04 09:32] RSchiemann commented on #6
@arun3688 Thank you for your quick and enlightening answer. Indeed it helps and I would not have thought that the 4-year-old Matlab I use might be the issue.
Will get a newer Matlab and try again. Thanks!

[2019-03-04 09:46] hkiel commented on #6
@arun3688 I'm using R2017b as well, and I'm missing xml2struct function
`Undefined function or variable 'xml2struct'.`

I downloaded it from https://de.mathworks.com/matlabcentral/fileexchange/28518-xml2struct but then I get `Reference to non-existent field 'Children'.`

[2019-03-04 10:03] arun3688 commented on #6
@hkiel , Hi i think there is this version which is available from R2016b https://se.mathworks.com/matlabcentral/fileexchange/58700-xml2struct-with-bug-fix-and-added-features

But for me i did not download this function, the package was already available from 2017b

[2019-03-04 11:58] hkiel commented on #6
@arun3688 The package you referenced also results in the same error.
[code]

[2019-03-04 13:07] arun3688 commented on #6
@hkiel can you try to load the xml file like this in the matlab terminal and see what you get

doc =

  1×2 struct array with fields:

    Name
    Attributes
    Data
    Children

[2019-03-04 13:58] hkiel commented on #6
I get this:
[code]

[2019-03-04 14:13] arun3688 commented on #6
@hkiel  I think you are using different version of xml2struct, For me i did not download anything, the default matlab2017b had this library and also another user from norway he also tested it, he did not have any problems, Can yout try to download this version and run the same and see what you get as output https://github.com/joe-of-all-trades/xml2struct/blob/master/xml2struct.m

[2019-03-04 14:29] hkiel commented on #6
@arun3688 I get the same output with that version. And xml2struct was not installed, and I have full campus version. The same for R2018a on win64. No xml2struct() funktion available. Maybe that is packaged in some toobox I have no access to!?!
Can you show your output of `which xml2struct`?

[2019-03-04 14:34] arun3688 commented on #6
@hkiel you are correct, it is with some toolbox

C:\Program Files\Matlab\R2017b\toolbox\bioinfo\biodemos\xml2struct.m

if this "bioinfo" toolbox cannot be obtained on all matlab version, should i change to default xmlread

[2019-03-04 14:55] hkiel commented on #6
@arun3688 That is the "Bioinformatics Toolbox", which is not part of standard installation.
You should at least add a hint in the installation documentation (installed size is 205MB - just for `xml2struct`...) I would vote to use `xmlread` instead which is matlab core.
I installed bioinfo toolbox and now it works as expected.

I suggest to not name your variable `doc`:
[code]

[2019-03-04 15:03] arun3688 commented on #6
@hkiel , Yes i will change it to default xmlread

[2019-03-26 13:41] RSchiemann commented on #6
has the usage of xml2struct already been replaced by xmlread, according to above discussion?

[2019-03-26 13:47] arun3688 commented on #6
@RSchiemann  No but it will be soon changed.

[2019-04-16 14:24] arun3688 commented on #6
@RSchiemann   @hkiel   Changed the xmlparsing to matlab core xmlread,   xml2stuct is removed. Check it

[2019-08-19 14:03] JKRT opened #7 "License is missing"
This repository currently lacks a license. Maybe we should add the same as for OMJulia

[2019-08-19 14:05] arun3688 commented on #7
@JKRT  I will add it soon

[2019-08-20 08:55] arun3688 commented on #7
@JKRT this is fixed with https://github.com/OpenModelica/OMMatlab/commit/22ec8148492b486c15a3226f9e02647b1ba63cbe

[2019-08-20 08:56] arun3688 commented on #6
This is fixed with https://github.com/OpenModelica/OMMatlab/commit/deb63f5640b0921fd13c1e52c613203be08fc3a6

[2019-08-20 08:56] #6 closed

[2019-08-20 08:56] #7 closed

[2020-09-14 10:54] untervek opened #9 "Minor bug, regular expression, output signals non-negative"
Some of my torque signals were non-zero when calling omc.getSolutions() because parseExpression() missed the signs. But when I changed line 855 to the following, everything worked:
final=regexp(args,'"(.*?)"|[{}()=]|[-a-zA-Z0-9_.]+','match');
(I just added the first minus in [-a-zA-Z0-9_.])

[2020-09-14 11:36] arun3688 commented on #9
@untervek thanks for pointing the issue, can you make a PR, with the changes you made

[2020-10-29 23:43] gptshubham595 commented on #3
what should I do I am still getting that error ZMQ one please
HELP WINDOWS10
MATLAB R2020a
OpenModelica
All steps done as stated above

PLEASE HELP

![image](https://user-images.githubusercontent.com/24877361/97643721-80872f80-1a6e-11eb-82d2-49d0cc02805f.png)

[2020-10-29 23:44] gptshubham595 commented on #3
@adrcarrui @arun3688 can you help please

[2020-10-29 23:47] gptshubham595 commented on #3
cool that worked god knows why it was not working before!!
Hope it will help others to see!! 😆

Closing and reopening Matlab worked

[2021-01-31 01:02] crazy734 opened #10 "Linearization Bug"
Hey,

There's a minor issue in the linearization function that I may have noticed in line 757. The isempty function does not work if the fields of the struct are empty, i.e. even if it is a 1X1 struct with no fieldnames as well, the ~isempty(matrix_name) returns a 1.

`if(~isempty(matrix_name))
fields=fieldnames(matrix_name);`

I also found the solution by changing it to

`if(~isempty(fieldnames(m

[2021-02-01 08:44] kabdelhak commented on #10
What file are you referring to with `line 757`? And can you provide an example that currently does not work?

[2021-02-01 08:47] arun3688 commented on #10
@kabdelhak i think this is not related to `openmodelica code generation for linearization `, it is related to `OMMatlab.m` stand alone `linearization` API

[2021-02-01 09:25] guru-charan-das commented on #10
Thank you @arun3688 . It is an OMMatlab.m `linearization` API within the file itself @kabdelhak . It needs to changed as I mentioned above. However, since you asked for an example of it not working, I'll give you one below.

![image](https://user-images.githubusercontent.com/45719907/106439293-cdb4dc00-6477-11eb-9f7c-ff4301551741.png)

This only happens because `matrix_name` in the second iteratio

[2021-02-01 09:31] arun3688 commented on #10
@crazy734 , can you make a PR with the changes you made ?,  i can push it

[2021-02-02 10:58] casella commented on #10
As a side note, shouldn't we avoid to have code to do this in two different places? Or do I miss something?

[2021-02-02 11:02] arun3688 commented on #10
@casella this is a stand alone package, the current code generation has nothing to do with this

[2021-02-02 12:08] casella commented on #10
OK, so I guess we just need to be careful to keep them in synch

[2021-02-02 13:32] arun3688 commented on #10
this is fixed with https://github.com/OpenModelica/OMMatlab/commit/c9b6fff88efc7c1a6b4652ab978fc1c32636078d

[2021-02-02 13:32] #10 closed

[2021-02-13 13:24] arun3688 commented on #9
@this is fixed with https://github.com/OpenModelica/OMMatlab/commit/4a68ace515be1c41b19b08713f0809dd42c275b3

[2021-02-13 13:24] #9 closed

[2022-07-11 15:46] MohammadHadiAlizadeh opened #13 "Test Error"
Hello,
I want to use OMMATLAB for the first time. I've just followed the procedure, but I get an error when I want to test the interference.

![image](https://user-images.githubusercontent.com/88594092/178303672-901c965a-38d9-4ecb-ad7e-cdd6387d4fb0.png)

[2022-07-12 10:00] arun3688 commented on #13
@MohammadHadiAlizadeh where did you install your `OpenModelica `

[2022-07-12 11:50] MohammadHadiAlizadeh commented on #13
This is the installation path.
C:\Program Files\OpenModelica1.19.2-64bit

[2022-07-12 12:06] arun3688 commented on #13
@MohammadHadiAlizadeh can you change the location of your OpenModelica installation to `C:/OpenModelica1.19.2-64bit`, because the main problem is there is a space between `Program Files` changing the location would fix the problem, otherwise you can try to do the following, try to explicitly specify the path when creating the session something like below

`omc = OMMatlab("C:/OpenModelica/build/bin

[2022-07-14 14:28] adrpo commented on #13
@arun3688 we can fix this by just adding quotes round the executable path in here:
https://github.com/OpenModelica/OMMatlab/blob/master/OMMatlab.m#L73

`cmd = ['START /b ',' \"',omhomepath,'\" --interactive=zmq -z=matlab.',randomstring];`

 Note that I have no idea about Matlab and if you need to escape the quotes or not! You can find that out.

[2022-07-14 15:52] MohammadHadiAlizadeh commented on #13
Thanks. I fixed it.

[2022-07-14 15:52] #13 closed

[2022-09-13 21:14] DanielMartensson opened #14 "Question: Will this work for GNU Octave too?"
Will this work for GNU Octave too?

[2022-09-13 22:06] casella commented on #14
I don't think so. This could be considered, provided we have proof that there are enough people intrested. Or, if you are bold, you could try to contribute yourself to the feature development. @DanielMartensson, what do you think?

[2022-09-15 08:31] DanielMartensson commented on #14
It seems that somebody have already did that. @casella
https://github.com/PR-DC/PRDC_OMOctave

Good work!

[2022-09-16 10:17] casella commented on #14
Interesting indeed. I'll ask the developer if he wants to provide this directly to the OpenModelica source code. We can't do that, because we are releasing OMC with dual licensing (GPL and OSMC-PL), while this package is GPL'd

[2022-09-16 11:38] DanielMartensson commented on #14
@casella
I have one question about the API. If I have OpenModelica and I want to use the API trougth Octave/Matlab. Can I pass inputs into the `.mo` file and recieve outputs if I want to run a simulation?

I have idéas if I should replace `ODE45` in MATLAB/Octave with OpenModelica instead. But I don't know if it's possible to call `.mo` files with input arguments and recieve outputs back to Matlab

[2022-09-16 13:35] casella commented on #14
@arun3688 can you comment about that? Thanks!

[2022-09-18 07:59] arun3688 commented on #14
@DanielMartensson I did not clearly understand what you want to do with the API, Based on my understanding the `simulate` API will simulate the modelica model and the results are written to mat file or csv file. To read the simulation results you should use `getSolutions` API  see the documentation https://www.openmodelica.org/doc/OpenModelicaUsersGuide/latest/ommatlab.html. Otherwise it would be

[2022-09-18 10:49] DanielMartensson commented on #14
@arun3688

Can I simulate a model with inputs e.g initial states?

I don't have matlab. I have Octave. There is a library who looks exactly like OMMatlab library, but it's working for Octave. So I guess it's almost the same code.

[2022-09-19 15:08] casella commented on #14
@arun3688 the idea would be to embed OMOctave in OpenModelica instead of having it as a separate tool. Can you guide @DanielMartensson to prepare a suitable PR?

[2022-09-27 07:28] MohammadHadiAlizadeh opened #15 "initialization"
Hi, I'm trying to implement a Model Predictive Control on an Open Modelica written model. I want to enforce the control algorithm on Matlab and pass the optimal values of parameters to OM with OMMatlab.
I need to simulate the model in multiple separate but simultaneous time intervals. For example, I'm going to simulate the model from 0 to 10s and then do some calculations in Matlab, and change som

[2022-09-28 00:37] casella commented on #15
@MohammadHadiAlizadeh, I see two options for your use case.

One option is to export your model as an FMU, and then import it in Simulink, using the Control System toolbox to represent the MPC controller. In order for this to work, you need to ensure that the initial equations of your model produce the right initial conditions, so that the Simulink simulation starts in the right place.

If you wan

[2022-09-28 09:44] MohammadHadiAlizadeh commented on #15
@casella
Thanks for your helpful explanation.
I want to use the MPC cascade with the PI controller and implement the control algorithm in Matlab without the MPC toolbox. To be more precise, the set point of the PI controller is changed with MPC at the end of each sample time(or the beginning of the new sample time). Therefore, the value of manipulated variable jumps and changes too. However, the "

[2022-09-30 18:36] arun3688 commented on #14
@casella @DanielMartensson , I have now implemented `OMOctave` package directly in OpenModelica with some minimal effort and it is available in the following repository https://github.com/OpenModelica/OMOctave, Please follow the  instruction in `ReadME.md` for using the package in Octave

[2022-10-01 10:28] DanielMartensson commented on #14
@casella @arun3688 Wow! Great!

I have plans to use this library for simulation. Is there any way for me to call the simulation with initials states? I find that very useful.

For example: If I have a hanging load M that are connected to a spring K and a damper B. Then I want to call that simulation with initial state X for t = 0 and M, K, B as parameters. Then I want to recieve the outputs back.

[2022-10-01 10:30] arun3688 commented on #14
It is possible to set inputs to the ".mo" file via the `setInputs` API, An example would be

`omc.setInputs(["Tc=300";"Ti=350";"Vdi=100";"cAi=1"])
`

[2022-10-01 10:35] DanielMartensson commented on #14
Ah, I see. The function `.setInputs()`. And then I load the result from the `.mat` file. Perfect. I think I got all what I need to make simulations.

Thank you.

[2022-10-01 10:48] arun3688 commented on #14
@DanielMartensson Yes You have to look into the advanced  API feature https://www.openmodelica.org/doc/OpenModelicaUsersGuide/latest/ommatlab.html#advanced-ommatlab-features

[2022-10-01 13:49] MohammadHadiAlizadeh opened #16 "setting parameter for a vector parameter"
Hello,
I defined a vector parameter in my OM model like this:
`parameter Real[10] a`
But when I try to set the parameters with OMMatlab command, I'm getting an error
`omc.setParameters("a[1:10]=[1,1,1,1,1,1,1,1,1,1]")`

what is the correct way to set a vector parameter with OMMatlab?

[2022-10-02 15:40] arun3688 commented on #16
@MohammadHadiAlizadeh The correct way is given below

[code]

[2022-10-03 07:47] MohammadHadiAlizadeh commented on #16
I'm getting the following result:

[code]

Also this is my OM Model:

[code]

[2022-10-03 09:51] arun3688 commented on #16
@MohammadHadiAlizadeh This is true, the problem is,  Matlab does not allow `a[1]` to be a valid key in `struct` and that is the problem , and hence we create a temporary name ` a_1_ ` which should indeed map to original variable `a[1]` which is a bug here, I  will fix this bug

[2022-10-03 10:43] arun3688 commented on #16
@MohammadHadiAlizadeh The issue is fixed now with this commit, 68967a372915c2522ed1f379573984c34c62f4d0, Please do a git pull and test the changes,  I tested the changes

[code]

[2022-10-03 12:40] casella commented on #14
@DanielMartensson thanks for you input, and thanks @arun3688 for the implementation.

@DanielMartensson, if you are happy with the interface in general please close this ticket. If you have specific questions or issue, please open separate tickets which are focused on the specific issue.

Thanks!

[2022-10-03 15:22] MohammadHadiAlizadeh commented on #16
I'd be grateful if you could fix this bug so that we can change the value of  n*n array parameters. Or even if we can pass the values in a way like ``"a=[1 2; 3 4]"``(which is a 2D array).
Actually, My M.Sc Project feasibility depends on the capability of OMMATLAB to change array parameters in OpenModelica because this ability empowers us to implement Modern control algorithms on complicated physi

[2022-10-03 15:48] MohammadHadiAlizadeh commented on #16
Thanks so much.

I tested it :
[code]

Nevertheless, one more question: When I try to change a_1_1_ with the set command and use the "get" command to get the value, it returns a string format "8", though the others are char type '8'. Is it normal?

[2022-10-03 15:54] arun3688 commented on #16
@MohammadHadiAlizadeh , I think it should not be an issue

[2022-10-04 16:37] MohammadHadiAlizadeh commented on #16
@arun3688  Many thanks for your help.

I tried formulating an optimization problem in Matlab to optimize some parameters in My Open Modelica model.

I used `omc.setParameters("Kc=5.00000000852332")` and also checked it with `omc.getParameters("Kc")` and everything were ok.
but when I used `omc.simulate()` and checked the results, the solutions were physically odd! When I checked the Kc parameter w

[2022-10-04 17:03] #16 closed

[2022-10-05 09:37] casella commented on #15
I think you can use CSV-file input for the top inputs of your Modelica model. This feature is not properly documented, I'm collecting info on that, will get back to you here ASAP.

[2022-10-05 11:43] arun3688 commented on #15
@MohammadHadiAlizadeh As casella said you can use csv input file for your inputs and do the simulation, An example of such a csv file with inputs is attached [SeborgCSTR.ModSeborgCSTRorg.csv](https://github.com/OpenModelica/OMMatlab/files/9714971/SeborgCSTR.ModSeborgCSTRorg.csv), and in the simulate command you can use it like this

`omc.sendExpression("simulate(SeborgCSTR.ModSeborgCSTRorg, simfla

[2022-10-05 14:30] MohammadHadiAlizadeh commented on #15
@arun3688 Thank you so much for your helpful guidance. I'm closing this issue.

[2022-10-05 14:48] MohammadHadiAlizadeh commented on #15
@casella Many Thanks for your persistent support. I'd be looking forward to hearing from you about more info on CSV flag.

[2022-10-05 15:26] casella commented on #15
@MohammadHadiAlizadeh see OpenModelica/OpenModelica#9472.

[2022-10-05 15:26] #15 closed

[2022-10-05 16:51] #14 closed

[2022-10-06 14:52] casella commented on #15
I guess it needs to be [-csvInput](https://www.openmodelica.org/doc/OpenModelicaUsersGuide/latest/simulationflags.html#simflag-csvinput) with camel-case capital 'I'.

[2022-10-19 10:13] MohammadHadiAlizadeh opened #17 "Linearization model"
Hello
When I use the Linearize command for a hybrid system( contains if- else statement) I get the following error:

[code]

[2022-10-19 10:35] MohammadHadiAlizadeh commented on #17
@arun3688  can you please shed some light or do possible fixes? Thanks in advance

[2022-10-19 10:48] arun3688 commented on #17
@MohammadHadiAlizadeh could you make a minimal example so that i can reproduce the error

[2022-10-19 12:12] MohammadHadiAlizadeh commented on #17
@arun3688 I think the main problem is because of the model complexity. Unfortunately, I'm not allowed to share the model here. But I will try to generate the error in a test model, But I'm not sure whether it will cause the same error.

[2022-10-22 14:25] casella commented on #15
@MohammadHadiAlizadeh we finally managed to get the CSV-file input feature working again (thanks to @mahge's fixes) and [properly documented](https://openmodelica.org/doc/OpenModelicaUsersGuide/latest/omedit.html#csv-file-data-input).

You can get it in the latest nightly build and in the forthcoming 1.20.0 release.

[2022-10-22 14:28] casella commented on #15
The different ways you can use previous simulation results for initialization are now explained properly in the [User's Guide](https://openmodelica.org/doc/OpenModelicaUsersGuide/latest/solving.html#importing-initial-values-from-previous-simulations).

[2022-10-30 17:29] MohammadHadiAlizadeh commented on #17
@arun3688  I have no idea why I'm getting such a tiny number and this error. Everything is OK in the minimal models, even hybrid ones! But when I removed the second mode of the problem to simplify it and did the linearization on the single mode problem, the following issue propagated.
[code]

[2022-11-02 17:02] MohammadHadiAlizadeh commented on #17
@arun3688   @casella  This is the linearized model created during the ``omc.linearize()`` command; I'm attaching the file because it is too long to write inside the comment:
[linearized_model.zip](https://github.com/OpenModelica/OMMatlab/files/9922621/linearized_model.zip)

As you can see, there are some numbers in the order of 1e-300 inside Matrix A that cause the error:

[code]
One solution is t

[2022-11-02 17:35] arun3688 commented on #17
@MohammadHadiAlizadeh I will see whether i can reproduce the issue with the linearized model provided and try to fix the problem

[2022-11-02 18:35] MohammadHadiAlizadeh commented on #17
Thanks @arun3688 .

When I try to load the linearized model, as the following:
[code]
The same Error rises as when I tried to use `` omc.linearize()`` for the main model!!

[code]

[2022-11-03 00:02] casella commented on #17
This is really weird, I never saw such small numbers before. @arun3688 any idea why they show up?

[2022-11-03 08:32] arun3688 commented on #17
@casella I really don't know, the original model is not provided so it is hard to say, but i will investigate the issue

[2022-11-03 09:27] MohammadHadiAlizadeh commented on #17
@arun3688  @casella  I developed an example with very similar dynamics to the actual model. You can reproduce the error by using it. The files are attached:
[simplified.zip](https://github.com/OpenModelica/OMMatlab/files/9927027/simplified.zip)

Also, this is the Matlab command I'm using for linearization

[code]

Thanks for your help

[2022-11-03 09:34] casella commented on #17
@arun3688, as I understand it this linearized model is obtained by numerical differentiation. So, there are many elements that are supposed to be zero, but end up being computed as the difference of two very close numbers, hence resulting in numbers such as 2.159042138773611e-81 or 1.153519257740235e-315. We could try to avoid that in the first place by using structural information about the Jacob

[2022-11-03 13:43] arun3688 commented on #17
@MohammadHadiAlizadeh @casella , I can reproduce the issue with your model and i see that the issue is not related with `OMMatlab` , but with `OpenModelica`  itself, It is not possible to build the generated linearized_model.mo in OpenModelica and this needs to be fixed in the run time in `linearize.cpp `

[2022-11-04 10:03] MohammadHadiAlizadeh commented on #17
@arun3688  Thanks for investigating the Error.
@casella, How could the error be fixed? I need the linearized model as the prediction model for MPC. Can you please lend a helping hand?

[2022-11-05 15:53] casella commented on #17
@MohammadHadiAlizadeh, as far as I understand, the problem is with the Modelica parser, which actually generates the error because of underflow not being handled correctly in C11. I would just fix that, e.g.
[code]
However, I'm not too much into changing the code myself, @arun3688 could you take care of that?

We could also improve `linearize.cpp` to avoid printing out those small numbers in the f

[2022-11-05 15:56] casella commented on #17
@MohammadHadiAlizadeh in the meantime you can try to turn on the compiler flag --[generateSymbolicJacobian](https://openmodelica.org/doc/OpenModelicaUsersGuide/latest/omchelptext.html#omcflag-generatesymbolicjacobian). This doesn't always work, but if it does, it should generate proper `0`s in all those places.

[2022-11-05 17:26] MohammadHadiAlizadeh commented on #17
@casella , thanks for your continuous support. I used the flag but I'm still getting the same error. Can you please check out the attached code? I'm afraid I'm escaping something or entering the flag improperly.
[simplified.zip](https://github.com/OpenModelica/OMMatlab/files/9944367/simplified.zip)

This is the Matlab code I'm using in:

[code]

[2022-11-05 17:32] arun3688 commented on #17
@MohammadHadiAlizadeh  It should be
`omc.ModelicaSystem("Eshgh.mo","Eshgh",["mid.mo"], "--generateSymbolicJacobian");
`

[2022-11-05 17:43] arun3688 commented on #17
@casella I think we should directly fix in `linearize.cpp`, because that is function where the linearized model is generated and the error occurs when the generated linearized model is loaded and the parser fails, So the linearize should be fixed and the question is when to make the approximation eg. `e-30`

[2022-11-05 17:56] MohammadHadiAlizadeh commented on #17
@arun3688, thanks, but still getting the same error... :|

[2022-11-05 17:59] arun3688 commented on #17
@MohammadHadiAlizadeh that is true, it doesn't always work

[2022-11-06 11:48] MohammadHadiAlizadeh commented on #17
@arun3688, Maybe the most standard effort is to make the threshold a user-specified parameter so it can be adjusted according to the specific application. It might need to develop a new flag.
However, 1e-30 is too low. 1e-10 is effectively zero too.

[2022-11-07 19:13] casella commented on #17
@MohammadHadiAlizadeh introducing arbitrary "low" thresholds for numbers that should actually be zero is not a good idea. The elements on the diagonal of the A matrix are dimensionally the inverse of a time constant, so for applications with time constants of less than a year they should be larger than 3e-8, otherwise they can be approximated as zero. However, off-diagonal terms have dimensions th

[2022-11-08 15:07] sjoelund commented on #17
I'm not sure we should change the parser to silently convert small non-zero numbers to zero. Values that are non-zero are usually very different from values that are actually zero... Might be good to standardize the behaviour in the Modelica specification.

[2022-11-09 14:59] casella commented on #17
@sjoelund, we need to change the parser so that it can convert to zeros numbers that cause an underflow of Real. The obvious reason is that the best approximation we have in IEEE 754 arithmetics of, say, 2e-350 is actually 0.0. Generating an error in this case is just stupid IMHO.

[2022-11-09 15:00] casella commented on #17
BTW, this is what strtod() used to do until C11 😅

[2022-11-10 17:05] adrpo commented on #17
We should not convert silently, we should do a warning and say we will translate it to zero.

There are however two cases here:
- too small // give a warning and transform to 0
- too large // give an error

How do we differentiate between the two?
Searching for `e-` in the number seems weird and people might actually not use the `e` notation.

[2022-11-10 17:14] adrpo commented on #17
SO to the rescue :)
https://stackoverflow.com/a/30607006/1263889

[2022-11-10 17:33] adrpo commented on #17
For this model:
[code]

Another tool gives:
[code]
which is basically in line with what I want to do.

[2022-11-10 21:44] adrpo commented on #17
With PR: https://github.com/OpenModelica/OpenModelica/pull/9687 we get:

[code]

So we will convert underflow to zero and refuse to parse on overflow.

[2022-11-11 08:14] adrpo commented on #17
@MohammadHadiAlizadeh: the parser is now changed to handle underflow as zero.
I see you are using Windows, I will start a windows nightly build so you can test it.

[2022-11-11 08:30] MohammadHadiAlizadeh commented on #17
@adrpo , thanks a lot. I will be looking forward to hearing from you about the nightly build version.

[2022-11-11 16:59] MohammadHadiAlizadeh commented on #17
@adrpo I installed the nightly build version and runned linearization, and I got some error like this:
[code]

Why does it treat some of the small numbers as an overflow?

[2022-11-11 19:08] casella commented on #17
@adrpo some comments on my side.

I fully agree overflow should generate an error. No question about it.

Regarding underflow, I don't think we should generate a warning. Nobody in their right mind will ever write values like 3e-350 himself in a model (e.g. for a parameter value), there is no physical model for which such small value will be significantly different from zero for all practical purp

[2022-11-11 19:08] casella commented on #17
I guess this is a bug in the fix 😄

[2022-11-11 19:10] casella commented on #17
This is a slightly different issue, which I'd say is related to #8865. We have to fix that once an for all in 1.21.0.

[2022-11-12 00:08] adrpo commented on #17
Hopefully I did the proper check now :)
https://github.com/OpenModelica/OpenModelica/pull/9693

[2022-11-12 00:12] adrpo commented on #17
Ok. I somehow still think we should keep the warning as the user might just have made a mistake and they should be informed so they can fix it.
Of course when this comes from linearization that should be fixed when we generate the MO file so we don't trigger underflow as that would confuse people.

[2022-11-12 11:07] perost commented on #17
I think there's still something wrong with the check, because e.g. `-4.940656458412465e-324` is actually a valid double and can be handled by `strtod`. But the parser gives a warning and converts it to 0 anyway.

[2022-11-12 11:29] casella commented on #17
Yes, I also noticed that. But in any case, I think that underflow of doubles is really not a big deal.

[2022-11-12 11:39] perost commented on #17
So it seems numbers like `-4.940656458412465e-324` are defined as subnormal, which is a special case for when the exponent is 0. `strtod` is allowed (but not required) to give an error in that case. So we could just ignore the error from `strtod` if the returned number is smaller than `DBL_MIN` but larger than 0.

[2022-11-12 16:43] MohammadHadiAlizadeh commented on #17
@adrpo Thanks for the fix, now I can open and run the linearized_model.mo with OMs latest nightly build version. But still OMMatlab raises some error that I'm going to explain in the next comment.

[2022-11-12 16:46] MohammadHadiAlizadeh commented on #17
@arun3688 , This is the error with OMMatlab, can you please have a look at that?
Actually, the ``linearize`` command generates the linearized_model.mo but it can not transfer the matrices to Matlab.

corresponding files: [simplified.zip](https://github.com/OpenModelica/OMMatlab/files/9995450/simplified.zip)
Error:
[code]

[2022-11-13 15:00] adrpo commented on #17
Unfortunately I have no Matlab to check this. @arun3688, please have a look.

[2022-11-13 17:54] MohammadHadiAlizadeh commented on #17
I changed the OMMatlab code, and now it is working #18

[2022-11-14 09:59] perost commented on #17
OpenModelica/OpenModelica#9696 fixes the parser so that we no longer give a warning about subnormal Real values. Mathematically speaking it probably doesn't matter at all, but we shouldn't give warnings about numbers that can naturally occur in the models.

[2022-11-14 14:00] MohammadHadiAlizadeh commented on #17
I have another question :))
Based on OM linearize command [documentation](https://build.openmodelica.org/Documentation/Modelica_LinearSystems2.Utilities.Import.linearize.html), "all variables that appear differentiated and that are selected as states at this time instant are treated as states x of the model." So, How can I define a variable as a state variable whose derivative is not provided in t

[2022-11-15 10:22] casella commented on #17
@MohammadHadiAlizadeh I'm sorry but I'm not sure I understand your question. In the example you provide, x2 is an algebraic variable in the DAE formulation. When the tool brings the DAEs into explicit ODE form, it takes them into account if they are needed to compute the state derivatives or the outputs: assuming the DAE is index 1, the algebraic equations are solved for the algebraic variables, a

[2022-11-15 16:58] MohammadHadiAlizadeh commented on #17
Thank you. I'm closing the issue.

[2022-11-15 16:58] #17 closed